In [ ]:
!pip install randomuser
!pip install pandas
!pip install requests
!pip install bs4
!pip install html5lib
!pip install matplotlib
!pip install xlml
!pip install plotly

In [149]:

from randomuser import RandomUser
import pandas as pd
import requests
import json
from bs4 import BeautifulSoup
import html5lib
import yfinance as yf
import matplotlib
import warnings
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [150]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

In [ ]:
tesla_data = yf.Ticker('TSLA').history(period='max')
tesla_data.head()

In [ ]:
url ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
tesla_revenue = pd.read_html(url)
tesla_rev = tesla_revenue[1]
tesla_rev['Tesla Quarterly Revenue (Millions of US $).1'] = tesla_rev['Tesla Quarterly Revenue (Millions of US $).1'].str.replace("$","").str.replace(",","")
tesla_rev.tail()

In [ ]:
gme_data = yf.Ticker('GME').history(period="max")
gme_data.head()

In [ ]:
gme_revenueW = pd.read_html('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html')
gme_revenue = gme_revenueW[1]
gme_revenue['GameStop Quarterly Revenue (Millions of US $).1']=gme_revenue['GameStop Quarterly Revenue (Millions of US $).1'].str.replace("$","").str.replace(",","")
gme_revenue.tail()

In [ ]:
make_graph(gme_data,gme_revenue,'GameStop')

##GrentaHUB Data

In [148]:
url = "https://grintahub.com/en/events/get-available-tickets?event_id=1642&ticket_number=&section_id=&length=200&start=0&seated_together=false"
data = requests.get(url)

fullData = data.json()
grentaData = fullData['data']
dfgrenta = pd.json_normalize(grentaData)
dfgrenta.iloc[::, [2,6,9,12,13,31,32]]

,price,row_number,total,section.id,section.name.en,ticket_upload.created_at,ticket_upload.updated_at
0,32,8,5,3915,K8,2024-01-15T22:26:35.000000Z,2024-01-17T19:36:09.000000Z
1,32,4,1,3827,C8,2024-01-17T05:27:06.000000Z,2024-01-17T05:27:06.000000Z
2,32,10,2,3911,K4,2024-01-08T20:31:10.000000Z,2024-01-17T17:02:32.000000Z
3,32,10,3,3914,K7,2024-01-15T22:16:34.000000Z,2024-01-17T19:33:50.000000Z
4,32,10,2,3914,K7,2024-01-15T22:43:56.000000Z,2024-01-17T19:33:31.000000Z
...,...,...,...,...,...,...,...
195,375,23,2,3882,H7,2024-01-13T08:10:29.000000Z,2024-01-14T22:06:19.000000Z
196,375,4,3,3883,H8,2024-01-15T12:53:02.000000Z,2024-01-17T09:23:46.000000Z
197,375,29,3,3852,E13,2024-01-12T16:24:23.000000Z,2024-01-12T16:24:23.000000Z
198,375,10,2,3869,G6,2024-01-09T01:27:19.000000Z,2024-01-15T14:21:06.000000Z
199,388,28,2,3903,J6,2024-01-15T02:18:35.000000Z,2024-01-17T00:02:11.000000Z